html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    font-family: Arial;
}

#content{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left: 160px;
    margin-top: 30px;
    padding: 1px 16px;
    border: solid 5px rgb(4, 21, 119);
  }
#table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left: 250px;
    margin-top: 30px;
    padding: 10px 50px;
    border: solid 5px #000;
}
.option{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left: 250px;
    margin-top: 30px;
    padding: 10px 15px;
    border: solid 5px #000;
}
.container{
    height: 50px;
    width: 100px;
    padding: 20px;
    margin-left: 250px;
    border: 1px solid black;
  }